

<body>

  <br>


<br>
<br>
  <div>
    <div class="results"></div>
    Location
    <input type="text" class="my-input" name="field" tabindex="1" autocomplete="off">
    <br>
    Distance
    <input class="input" id="distance">

  <a href="javascript:void(0)" ng-click="getResults()" class="btn btn-raised btn-success">Find a roommate</a>
</div>

<script>
      var $results = document.querySelector('.results');
      // var appendToResult = $results.insertAdjacentHTML.bind($results, 'afterend');
      var objec = null;
      TeleportAutocomplete.init('.my-input').on('change', function(value) {
        objec = {"Parameters" : {
          Latitude: value.latitude,
          Longitude: value.longitude,
          Distance : null
                }};

        appendToResult('<pre>' + JSON.stringify(value, null, 2) + '</pre>');
      });
    </script>
</body>
