
<div class="results"></div>
Location
<input type="text" class="my-input" name="field" tabindex="1" autocomplete="off">

<form>
  <div class="form-group">
    <label for="rent">Title:</label>
    <input class="form-control" ng-model="room.title" id="title">
  </div>
  <div class="form-group">
    <label for="pwd">About:</label>
    <input class="form-control" ng-model="room.about" id="about">
  </div>

</form>


<br>
<br>
<div ng-init="initCtrl()">
  <h2>Upload Images</h2>
  <br/>
  <form role="form" name="uploadForm">
    <div class="row">
        <img ng-src="" ng-show="imageUrl" />
        <input id="fileInput" type="file" accept="*/*" ng-model="filename" />
        <input type="button" value="x" class="delete-file" title="Delete file" ng-disabled="!imageUrl" ng-click="deleteFile()" />

    </div>
  </form>
</div>
<br>
<a ng-click="listPlace()" class="btn btn-raised btn-success">List this</a>
